@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.header-text {
  background-color: #070f2b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9vh;
  padding: 20px;
}
.logo {
  color: #a6d2da;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.link {
  color: #a6d2da;
  text-transform: capitalize;
  font-size: 1.2rem;
}
.link a {
  color: #a6d2da;
}
.search {
  display: flex;
  gap: 2px;
}
.search input {
  padding: 10px;
}
.search button {
  background-color: #efefef;
  padding: 10px;
  text-transform: capitalize;
}
.image img {
  width: 20rem;
  border-radius: 5px;
}
.left-side {
  margin-top: 10px;
  margin-left: 60px;
  width: 20rem;
}

.left-text {
  padding-left: 20px;
  margin-top: -80px;
}
.name {
  text-transform: capitalize;
  padding-bottom: 5px;
}
.username {
  padding-bottom: 5px;
}
.btn {
  padding: 5px;
}
.btn a {
  width: 100%;
  color: white;
  background-color: #070f2b;
  padding: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
}
.user-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.icons {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
}
